<html>
	<head>
		<title>Alpha ::: Blog</title>
	</head>
	<body>
		<h1>About Page</h1>

    <%= link_to 'Home', root_path %>

		<p>This is Alpha Blog, A interactive experience in blogging. </p>
		<h2>Join us</h2>
		<ul>
			<li>Make new friends</li>
			<li>Share ideas</li>
			<li>build community</li>
		</ul>
	</body>
</html>
