<html>
	<head>
		<title>Alpha ::: Blog</title>
	</head>
	<body>
		<h1>Home Page</h1>

		<%= link_to 'Alpha Blog', articles_path %> | <%= link_to 'About', about_path %>

		<p>Alpha Blog is my favorite blog. Here is a list of features.</p>
		<h2>Features</h2>
		<ul>
			<li>Posts</li>
			<li>Responses</li>
			<li>Updates</li>
		</ul>
		<h2>Steps for Blogging</h2>
		<ol>
			<li>Post a comment</li>
			<li>Review comment</li>
			<li>Save approved comment</li>
			<li>Read comment</li>
			<li>accept responses</li>
		</ol>
	</body>
</html>
